{% extends "base.html.twig" %}
{% block content %}
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">

<!-- CART BUTTON AND LANG -->
<ul id="cart-list" class="borderBottomHeader">
<li data-toggle="modal" data-target="#myModal" id="myfkingmodal" class="hidden-xs">

<div class="social-flag">
<img src="http://www.intouchbiz.com/template/menu.png" class="cursorPointer logoMenu" alt="Intouchbiz">
<img src="http://www.intouchbiz.com/template/menuBlack.png" class="cursorPointer logoMenuScroll" alt="Intouchbiz">
</div>

</li>
<li>
<a href="https://www.facebook.com/connectedintouchbiz/" target="_blank">
<div class="social-flag">
<img src="http://www.intouchbiz.com/admin/template/socialmedia/rectangular/facebook.png" alt="facebook" id="facebook">
</div>
</a>
</li>
<li>
<a href="https://twitter.com/IntouchBiz_" target="_blank">
<div class="social-flag">
<img src="http://www.intouchbiz.com/admin/template/socialmedia/rectangular/twitter.png" alt="twitter" id="twitter">
</div>
</a>
</li>
<li>
<a href="https://plus.google.com/u/0/111192249106908035114" target="_blank">
<div class="social-flag">
<img src="http://www.intouchbiz.com/admin/template/socialmedia/rectangular/googleplus.png" alt="googleplus" id="googleplus">
</div>
</a>
</li>
</ul>

</div>

</div>
</div>

</header><!--/header-->

<!-- SLIDER -->
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!-- SLIDER  -->
<div id="carousel-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<!-- <ol class="carousel-indicators"></ol> -->
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">

<div class="homepage-hero-module imgSlider">
<div class="video-container">
<div class="filter"></div>

<div style="position:absolute; width:100%; height:100%;z-index:9"></div>    
<video autoplay loop class="fillWidth">
<source alt="cms home made" src="http://www.intouchbiz.com/template/" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="cms home made" src="http://www.intouchbiz.com/template/" type="video/m4v" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="cms home made" src="http://www.intouchbiz.com/template/" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="cms home made" src="http://www.intouchbiz.com/template/" type="video/ogg" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source alt="cms home made" src="http://www.intouchbiz.com/template/" type="video/ogv" />Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
<div class="poster ">
<img class="imgSlider" style="height=100% !important" src="http://www.intouchbiz.com/admin/img/slider/alojamento_cover.png" alt="cms home made">
</div>

</div>
</div>

<div class="carousel-caption container">
<h1 class="title-slider">A sua presença<br>na internet <span class="textUnderlineBigSize">começa aqui.</span></h1>
<hr class="textUnderline ">
<h2 class="desc-slider"><p></p></h2>
<a class="page-scroll" href="#firstSection"><img src="http://www.intouchbiz.com/template/setaBottom.png" class="setaBottom" alt="cms home made"></a>
</div>
<div id="firstSection">
</div>
</div>                    </div>

<!-- Controls -->
<!-- <a class="left carousel-control hidden-xs" href="#carousel-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control hidden-xs" href="#carousel-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>--> 
</div>
</div>
<!--Image parallax Home Page-->
</div>
<div class="container">

<section>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1 class="tituloCinza">Alojamento</h1>
</div>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1 class="tituloBold">Todos os nossos serviços de criação de sites, são baseados em tecnologia própria e por isso requerem software especifico e próprio.</h1>
</div>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p>Assim como actualizações automáticas de versões e os nossos servidores estão preparados para isso, apenas conseguimos garantir uma alta qualidade e serviço 100 % profissional, se as páginas que criamos estiverem alojadas nos nossos servidores.</p>


<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome servicosPUV" style="background-image: url('http://intouchbiz.com/template/servidor.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-server icon-style"></i>
</div>


<h4 class="servicosColorText servicosHomeTitle">Servidor</h4>

<p class="servicosColorText  servicosHomeText">Servidores dedicados, com alto desempenho e ligações redundantes em fibra óptica, monitorização de falhas de conectividade.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo  servicosHomeHoverVerde">
<div class="containerServicosHomeSeta">
<img src="http://intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">   
<div class="servicosHome servicosPUV" style="background-image: url('http://intouchbiz.com/template/manutencao.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-wrench icon-style"></i>
</div>


<h4 class="servicosColorText servicosHomeTitle">Manutenção</h4>

<p class="servicosColorText  servicosHomeText">Os nossos servidores tem  ligação a um sistema ininterrupto de fornecimento de energia. Monitorização constante de hardware e serviços (24×7×365).</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo  servicosHomeHoverVerde">
<div class="containerServicosHomeSeta">
<img src="http://intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome servicosPUV" style="background-image: url('http://intouchbiz.com/template/tecnica.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-star icon-style"></i>
</div>


<h4 class="servicosColorText servicosHomeTitle">Competência Técnica</h4>

<p class="servicosColorText  servicosHomeText">A manutenção é garantida por profissionais de elevada competência técnica</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo  servicosHomeHoverVerde">
<div class="containerServicosHomeSeta">
<img src="http://intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</div>

<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome servicosPUV" style="background-image: url('http://intouchbiz.com/template/suporte.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-wrench icon-style"></i>
</div>


<h4 class="servicosColorText servicosHomeTitle">Suporte Técnico</h4>

<p class="servicosColorText  servicosHomeText">Incluindo por telefone e e-mail.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo  servicosHomeHoverVerde">
<div class="containerServicosHomeSeta">
<img src="http://intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">  
<div class="servicosHome servicosPUV" style="background-image: url('http://intouchbiz.com/template/spam.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-bomb icon-style"></i>
</div>


<h4 class="servicosColorText servicosHomeTitle">Controlo de Spam</h4>

<p class="servicosColorText  servicosHomeText">O uso abusivo de correio electrónico causa transtornos à infraestrutura da Intouchbiz assim como aos restantes utilizadores, ao pôr em causa o normal funcionamento dos sistemas e do suporte ao serviço.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo  servicosHomeHoverVerde">
<div class="containerServicosHomeSeta">
<img src="http://intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome servicosPUV" style="background-image: url('http://intouchbiz.com/template/antivirus.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-user-md icon-style"></i>
</div>


<h4 class="servicosColorText servicosHomeTitle">Antivírus</h4>

<p class="servicosColorText  servicosHomeText">Alertas por email e SMS para equipa técnica em caso de falhas, Configuração e gestão de firewall por técnicos da Intouchbiz, Backup para servidor central, Backup e Restore de ficheiros através de painel de controlo.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo  servicosHomeHoverVerde">
<div class="containerServicosHomeSeta">
<img src="http://intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</div>

<!--<h1 class="tituloBold">Características</h1>

<img src="http://intouchbiz.com/template/alojamento-caract.jpg" class="img-responsive" style="display:block; margin: 0 auto">

<h1 class="tituloBold">Módulos / Opcionais</h1>

<img src="http://intouchbiz.com/template/alojamento-modulos.jpg" class="img-responsive" style="display:block; margin: 0 auto">
-->
<section>
</section>

<section>
</section>

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
</div>

<a href="http://intouchbiz.com/pt/proposta-com-budget-web-makers-negocio-clientes-objetivo-designers-programadores-presenca-online">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 botaoVerde hvr-sweep-to-right">
<h1>Saiba Mais</h1>
</div>
</a>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
</div>
</div>

<section>
</section>

<section>
</section>

<h1 class="tituloCinza">Outros Serviços</h1>                    </div>
</div>

</section>



<section>


<div class="row">


<a href="http://www.intouchbiz.com/pt/design-e-imagem-a-medida-solucoes-web-resultados-mais-valias-organizacoes-desenvolver-ideias-grafico-original-marcar-a-diferenca-boa-impressao-ilustracao-marcas-conceitos-valor-clientes">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/branding_brand.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-pencil icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Design e Imagem</h4>

<p class="servicosColorText  servicosHomeText">Cada solução que nos é solicitada necessita de conter imagem e design à medida das suas ideias.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/web-design-criatividade-originalidade-presenca-on-line-empresa-sites-personalizados-imagem-primeiro-contacto-visual">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/webdesign_1.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-desktop icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Web Design</h4>

<p class="servicosColorText  servicosHomeText">A Criatividade e a originalidade são essenciais para transformar as suas ideias numa presença on-line.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/criacao-conteudos-tecnologia-informacao-ti-desenvolvimento-sistemas-web-equipa-qualificada-negocios-consultoria-design-programacao-conteudos-comunicacao-marketing-servicos-acessibilidade-usabilidade-navegabilidade-criatividade">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/conteudos.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-laptop icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Criação - Conteúdos</h4>

<p class="servicosColorText  servicosHomeText">A Intouchbiz é uma empresa que presta serviços de Tecnologia de Informação (TI) com foco em desenvolvimento de sistemas via web</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/desenvolvimento-programadores-criatividade-design-mercado-erp-integrado-integrado-software-personalizacao-funcionalidades-extras-integracao-de-sistemas-aproveitamento-tecnologico-vantagens-competitivas-crescimento-negocio-qualidade">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/develop.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-code icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Desenvolvimento</h4>

<p class="servicosColorText  servicosHomeText">Ao longo do tempo juntamos a melhor equipa de programadores para dar vida a criatividade da nossa equipa de design.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/comercio-online-area-negocio-empresas-microempresas-businessbiz-mercado-lojas-online-comerciantes-carrinho-compras-catalogo-produtos-imagens-destaque-promocoes-taxas-relatorios-analytics-publicidade-quantidades-backups-pagamento-entrega">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/online_shop.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-credit-card-alt icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Comércio On-line</h4>

<p class="servicosColorText  servicosHomeText">Tudo o que precisa para começar, é concentrar-se na sua sua área de negócio, nós cuidamos do resto.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/optimizacao-seo-resultados-motores-de-busca-search-engine-optimization-sites-mob-buscas-ferramentas-melhor-posicionamento-directorios-google-maps-analytics-ad-words-facebook-redes-sociais-key-words-pesquisa-metatags-links">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/seo_optimizacao.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-google icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">SEO - Optimização</h4>

<p class="servicosColorText  servicosHomeText">Tratamos na integra de optimizar os resultados obtidos por si para que possa superar a sua concorrência, nos motores de busca mais utilizados na internet. </p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/marketing-web-optimizacao-motores-de-busca-seo-search-engine-optimization-site-visibilidade-publicidade-links-com-keywords-titulo-pagina-meta-keywords-description-palavras-chave-analytics-blogs-corporativos-redes-sociais">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/webmarketing.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-google icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">web marketing</h4>

<p class="servicosColorText  servicosHomeText">Web marketing e Optimização para motores de busca SEO

SEO (Search Engine Optimization).</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/dominios-registo-servico-alojamento-fccn-fundacao-para-a-computacao-cientifica-nacional-em-24h-manutencao-renovacao-imagem-direitos-de-assistencia-necessidades-solucao">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/registo.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-chrome icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Registo de Domínios</h4>

<p class="servicosColorText  servicosHomeText">O seu domínio www.asuaempresa.pt, .com, .eu, etc., é a sua imagem na internet.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a><a href="http://www.intouchbiz.com/pt/alojamento-servicos-criacao-de-sites-tecnologia-software-actualizacoes-automaticas-qualidade-profissional-alojadas-servidor-manutencao-competencia-tecnica-suporte-controlo-spam-antivirus">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddingServicos">
<div class="servicosHome" style="background-image: url('http://www.intouchbiz.com/template/alojamento.png');">
<div class="servicosHomeHover">

<div class="row containerServicosHome">

<div class="wrapper efectLogo">
<i class="fa fa-server icon-style"></i>                                        </div>


<h4 class="servicosColorText servicosHomeTitle">Alojamento</h4>

<p class="servicosColorText  servicosHomeText">Todos os nossos serviços de criação de sites, são baseados em tecnologia própria e por isso requerem software especifico e próprio.</p>
</div>

</div>
<div class="servicosHomeHoverAmarelo">
<div class="containerServicosHomeSeta">
<img src="http://www.intouchbiz.com/template/setaService.png" class="setaService" alt="integração loja online web design">
</div>
</div>

</div>
</div>

</a>                    

</div>

<section>

</section> 

<section>

</section>

<!-- END CONTENT -->
</div><!--/#background-->

<!--  Fotter -->




<div class="container-fluid" id="footer">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

<h3 class="foot-title">Marcas</h3>


<a href="http://www.intouchbiz.com/pt">
<img src="http://www.intouchbiz.com/template/logoBlack.png" class="logoFooter" alt="Intouchbiz" style="display: block;">
</a>

<h3 class="foot-title">Link's</h3>

<a href="http://www.intouchbiz.com/centros-de-arbitragem.pdf" target="_blank">
<img class="logoFooter" src="http://www.intouchbiz.com/template/logo-arbitragem.JPG" alt="arbitragem"/>
</a>

</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/empresa-quem-somos-atitude-missao-filosofia-equipa-protocolo-parceiros">
<h3 class="foot-title">Empresa</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/quem-somos-solucoes-integradas-fpf-sistemas-de-gestao-erp-phc-eticadata-zonesoft-solucoes-web-site-clientes-desafiadores-confiar">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Quem Somos                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/atitude-empresa-jovem-dinamica-design-programacao-satisfacao-saber-inovacao-criatividade-dedicacao-qualidade-funcionalidade">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Atitude                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/missao-colectanea-estrategias-ampliacao-dos-lucros-negocios-empresa-competencia-retorno-investimentos-ponto-a-ponto-multi-plataforma-integra-produtos-fluxo-ilimitado-multi-canal-suporte-networking-webizacao-processos-trabalho-colaborativo-e-formacao">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Missão                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/filosofia-de-trabalho-investimentos-tecnologia-informacao-negocio-empresa-valores-forca-identidade-compromisso-principios-confianca-experiencia-simplicidade-transparencia-inovacao-orientacao-para-o-cliente-espirito-de-equipa-clientes-mercado">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Filosofia                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/equipa-profissionais-jovem-dinamica-qualificada-negocios-consultoria-design-programacao-conteudos-comunicacao-marketing-imagem-som-movimento-cor-alegria-comercial-desenvolvimento-seo-apoio-ao-cliente-contabilidade">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Equipa                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/protocolo-socios-portimonense-sporting-clube-aquisicao-de-servicos-construcao-websites-desconto-apresentacao-cartao-quotas-em-dia">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Protocolo                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/parceiros-rede-foco-know-how-criar-desenvolver-implementar-solucoes-clientes-empresa-oportunidade-web-tecnologia-certificacao-parceiros-formacao-capacitacao-negocio-competitiva">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Parceiros                                            </div>
</div>
</a>

</li>
</ul>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/produtos-fastsms-crm-gestao-documental-comercio-b2c-b2b-integrated-erp-allinone-crm">
<h3 class="foot-title">Produtos</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/fastsms-solucoes-mensagens-segura-confiavel-instantaneamente-envio-end-to-end-todo-mundo-browser-cms-one-to-one-many-negocios-automatizar-agendamento-alertas-sistema-poupanca-comodidade-hipersegmentacao-rapidez-personalizacao-adaptabilidade">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
FastSMS                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/crm-customer-relationship-management-gestao-relacionamento-com-cliente-ferramentas-contato-corporativa-inter-ralacionamento-empresa-necessidades-planeamento-marketing-qualidade-ecrm-portal-ecommerce-relacionamento-comunicacao-negocio">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
CRM                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/gestao-documental-documento-electronico-texto-imagem-video-gestao-utilizadores-empresariais-empresa-desepenho-interface-web-multi-formato-armezenamento-word-excel-powerpoint-pdf-classificacao-versionamento-pesquisa-base-dados-tempo-fluxos">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Gestão Documental                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/comercio-electronico-b2c-e-b2b-transaccoes-bens-servicos-empresa-organizacao-crm-erp-on-line-meios-pagamento-gateways-comunicacao-e-commerce-business-to-consumer-business-comercial-electronicos-solucoes-multibanco-visa-mastercard-paypal">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Comércio B2C & B2B                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/integrated-automatizacao-rentabilizacao-recursos-optimizacao-gestao-empresa-eficiencia-integracao-clientes-mercado-destinatarios-sincronizar-erp-plataforma-web-seguranca-licenciamento-base-dados-ftp-smtp-agendamentos-loja-on-line">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Integrated-ERP                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/allinone-plataforma-contactos-marketing-digital-campanha-sms-newsletters-dispositivo-movel-envio-base-de-dados-multi-canal-grupos-campanhas-agendamento-simultaneo-relatorios-white-label-marketing-mobile-corporate-agencias">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
Allinone - CRM                                            </div>
</div>
</a>

</li>
</ul>
</div>


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/servicos-design-e-imagem-web-design-criacao-conteudos-desenvolvimento-comercio-on-line-seo-optimizacao-web-marketing-registo-de-dominios-alojamento">
<h3 class="foot-title">Serviços</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/design-e-imagem-a-medida-solucoes-web-resultados-mais-valias-organizacoes-desenvolver-ideias-grafico-original-marcar-a-diferenca-boa-impressao-ilustracao-marcas-conceitos-valor-clientes">
Design e Imagem
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/web-design-criatividade-originalidade-presenca-on-line-empresa-sites-personalizados-imagem-primeiro-contacto-visual">
Web Design
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/criacao-conteudos-tecnologia-informacao-ti-desenvolvimento-sistemas-web-equipa-qualificada-negocios-consultoria-design-programacao-conteudos-comunicacao-marketing-servicos-acessibilidade-usabilidade-navegabilidade-criatividade">
Criação - Conteúdos
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/desenvolvimento-programadores-criatividade-design-mercado-erp-integrado-integrado-software-personalizacao-funcionalidades-extras-integracao-de-sistemas-aproveitamento-tecnologico-vantagens-competitivas-crescimento-negocio-qualidade">
Desenvolvimento
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/comercio-online-area-negocio-empresas-microempresas-businessbiz-mercado-lojas-online-comerciantes-carrinho-compras-catalogo-produtos-imagens-destaque-promocoes-taxas-relatorios-analytics-publicidade-quantidades-backups-pagamento-entrega">
Comércio On-line
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/optimizacao-seo-resultados-motores-de-busca-search-engine-optimization-sites-mob-buscas-ferramentas-melhor-posicionamento-directorios-google-maps-analytics-ad-words-facebook-redes-sociais-key-words-pesquisa-metatags-links">
SEO - Optimização
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/marketing-web-optimizacao-motores-de-busca-seo-search-engine-optimization-site-visibilidade-publicidade-links-com-keywords-titulo-pagina-meta-keywords-description-palavras-chave-analytics-blogs-corporativos-redes-sociais">
web marketing
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/dominios-registo-servico-alojamento-fccn-fundacao-para-a-computacao-cientifica-nacional-em-24h-manutencao-renovacao-imagem-direitos-de-assistencia-necessidades-solucao">
Registo de Domínios
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/alojamento-servicos-criacao-de-sites-tecnologia-software-actualizacoes-automaticas-qualidade-profissional-alojadas-servidor-manutencao-competencia-tecnica-suporte-controlo-spam-antivirus">
Alojamento
</a>
</li>


</ul>
</div>
</div>

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/gamas-microbiz-firstbiz-businessbiz-posnet-showroom-lodging">
<h3 class="foot-title">Gamas</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/microbiz-criacao-site-ideia-de-negocio-mundo-virtual-plataforma-programacao-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<path class="st0" d="M44.3,1v28.2H16.1V1H44.3 M45.3,0H15.1v30.2h30.2V0L45.3,0z"/>
<path class="st0" d="M29.2,16.1v28.2H1V16.1H29.2 M30.2,15.1H0v30.2h30.2V15.1L30.2,15.1z"/>
</g>
</svg>                                            </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footerGamasTitle">
MICROBIZ                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/firstbiz-ideias-espaco-criacao-site-ideia-de-negocio-plataforma-programacao-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<path class="st0" d="M14.8,2l13,22.6H1.7L14.8,2 M14.8,0L0,25.6h29.5L14.8,0L14.8,0z"/>
<path class="st0" d="M29.5,2l13,22.6H16.5L29.5,2 M29.5,0L14.8,25.6h29.5L29.5,0L29.5,0z"/>
<path class="st0" d="M14.8,2l13,22.6H1.7L14.8,2 M14.8,0L0,25.6h29.5L14.8,0L14.8,0z"/>
<path class="st0" d="M29.5,2l13,22.6H16.5L29.5,2 M29.5,0L14.8,25.6h29.5L29.5,0L29.5,0z"/>
</g>
</svg>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footerGamasTitle">
FIRSTBIZ                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/businessbiz-negocio-customizada-criacao-de-site-ideia-plataforma-programacao-single-page-design-responsive-animacao-varios-idiomas-puv-design-a-medida-seo-optimizacao-nos-ligamos-pageland-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<g>
<path class="st0" d="M31,14.7c7,0,12.8,5.7,12.8,12.8c0,7-5.7,12.8-12.8,12.8c-7,0-12.7-5.7-12.7-12.8C18.3,20.5,24,14.7,31,14.7
M31,13.7c-7.6,0-13.7,6.2-13.7,13.8c0,7.6,6.2,13.8,13.7,13.8c7.6,0,13.8-6.2,13.8-13.8C44.8,19.9,38.6,13.7,31,13.7L31,13.7z"/>
<path class="st0" d="M13.8,14.7c7,0,12.7,5.7,12.7,12.8c0,7-5.7,12.8-12.7,12.8C6.7,40.2,1,34.5,1,27.5C1,20.5,6.7,14.7,13.8,14.7
M13.8,13.7C6.2,13.7,0,19.9,0,27.5c0,7.6,6.2,13.8,13.8,13.8c7.6,0,13.7-6.2,13.7-13.8C27.5,19.9,21.3,13.7,13.8,13.7L13.8,13.7z
"/>
</g>
<path class="st0" d="M22.4,1c7,0,12.7,5.7,12.7,12.7c0,7-5.7,12.8-12.7,12.8c-7,0-12.8-5.7-12.8-12.8C9.6,6.7,15.3,1,22.4,1
M22.4,0C14.8,0,8.6,6.2,8.6,13.7c0,7.6,6.2,13.8,13.8,13.8c7.6,0,13.7-6.2,13.7-13.8C36.1,6.2,30,0,22.4,0L22.4,0z"/>
</g>
</svg>                                            </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footerGamasTitle">
BUSINESSBIZ                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/posnet-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor-produtos-analises-marketing-promocoes-integrated-metodos-pagamento-backffice-cliente">

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<path class="st0" d="M11.8,13.4l10.8,6.2v12.5l-10.8,6.2L1,32.1V19.6L11.8,13.4 M11.8,12.2L0,19v13.6l11.8,6.8l11.8-6.8V19
L11.8,12.2L11.8,12.2z"/>
<path class="st0" d="M11.8,1.2l10.8,6.2v12.5l-10.8,6.2L1,19.8V7.4L11.8,1.2 M11.8,0L0,6.8v13.6l11.8,6.8l11.8-6.8V6.8L11.8,0
L11.8,0z"/>
</g>
</svg>                                            </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footerGamasTitle">
POS NET                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/showroom-catalogo-informacoes-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor-produtos-analises-marketing-promocoes-integrated-backffice-cliente">

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="70">
<g class="svgClass" stroke-width="1" fill="none">
<circle class="st0" cx="24.1" cy="24.1" r="23.6"/>
<circle class="st0" cx="24.1" cy="24.1" r="23.6"/>
<circle class="st0" cx="47.6" cy="24.1" r="23.6"/>
</g>
</svg>                                            </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footerGamasTitle">
SHOWROOM                                            </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/lodging-alojamento-integracao-booking-viajantes-dormir-casa-quarto-tempo-real-reservas-online-gestao-canais-propriedade-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="70">
<g class="svgClass" stroke-width="1" fill="none">
<polygon class="st0" points="25.4,0.6 50.1,18.6 40.7,47.7 10.1,47.7 0.6,18.6    "/>
<polygon class="st0" points="49.8,0.6 74.6,18.6 65.1,47.7 34.5,47.7 25,18.6     "/>
</g>
</svg>                                            </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footerGamasTitle">
LODGING                                            </div>
</div>
</a>

</li>
</ul>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://integrated-erp.com/" target="_blank">
      <h3 class="foot-title">Integrated-ERP</h3>
  </a>
  <ul class="list-group list-footer">
      <li class="list-group-item"><a href="http://www.integrated-erp.com/" target="_blank"><!-- Plataformas --> Funcionalidades</a></li>
      <li class="list-group-item"><a href="http://www.integrated-erp.com/pt/solucao-caracteristicas" target="_blank"><!-- Software -->Características</a></li>
      <li class="list-group-item"><a href="http://www.integrated-erp.com/pt/solucao-erps" target="_blank"><!-- faq's --> ERPs</a></li>
      <li class="list-group-item"><a href="http://www.integrated-erp.com/pt/portfolio" target="_blank"><!-- Portfólio -->Portfólio</a></li>
  </ul>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://enjoybesmart.com/" target="_blank">
      <h3 class="foot-title">EnjoybeSmart CRM</h3>
  </a>
  <ul class="list-group list-footer">
      <li class="list-group-item"><a href="http://enjoybesmart.com/" target="_blank"><!-- funcionalidades --> Funcionalidades</a></li>
      <li class="list-group-item"><a href="http://enjoybesmart.com/vantagens/" target="_blank"><!-- vantagens --> Vantagens</a></li>
      <li class="list-group-item"><a href="http://enjoybesmart.com/solucoes/" target="_blank"><!-- soluções --> Soluções</a></li>
      <li class="list-group-item"><a href="http://enjoybesmart.com/contacto/" target="_blank"><!-- faq -->Contacto</a></li>
      <li class="list-group-item"><a href="http://enjoybesmart.com/pricing/" target="_blank"><!-- preçário --> Preçário</a></li>
  </ul>
</div>

</div>

</div>
</div>
<div class="container-fluid" id="botfooter">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="text-center" id="footer-text">
<a href="mailto:&#105;&#110;&#102;&#111;&#64;&#105;&#110;&#116;&#111;&#117;&#99;&#104;&#98;&#105;&#122;&#46;&#99;&#111;&#109;" target="_top" class="simpleLink">&#105;&#110;&#102;&#111;&#64;&#105;&#110;&#116;&#111;&#117;&#99;&#104;&#98;&#105;&#122;&#46;&#99;&#111;&#109;</a> | +351 282 353 994 | Rua Município S. Domingos Lote 2  | 8400 - 415 Lagoa | Algarve | Portugal
<br>
<br>
Copyright &copy; 2019 <a href="http://www.intouchbiz.com/" class="simpleLink" target="_blank">IntouchBiz</a>. Todos os Direitos Reservados.</p>
</div>
</div>
</div>
</div>


<!-- Call me popup -->


<!-- Modal -->
<div class="modal fade modalMaisServicos" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialogMaisServicos" role="document">
<div class="modal-content modal-contentMaisServicos">


<div class="modal-body" id="modal-bodyMaisServicos">
<button type="button" class="closeMaisServicos" data-dismiss="modal" aria-label="Close">x</button>

<div class="container">


<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

<h3 class="foot-title">Marcas</h3>



<a href="http://www.intouchbiz.com/pt">
<img src="http://www.intouchbiz.com/template/logoBlack.png" class="logoFooter" alt="Intouchbiz" style="display: block;">
</a>

</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/empresa-quem-somos-atitude-missao-filosofia-equipa-protocolo-parceiros">
<h3 class="foot-title">Empresa</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/quem-somos-solucoes-integradas-fpf-sistemas-de-gestao-erp-phc-eticadata-zonesoft-solucoes-web-site-clientes-desafiadores-confiar">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Quem Somos                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/atitude-empresa-jovem-dinamica-design-programacao-satisfacao-saber-inovacao-criatividade-dedicacao-qualidade-funcionalidade">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Atitude                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/missao-colectanea-estrategias-ampliacao-dos-lucros-negocios-empresa-competencia-retorno-investimentos-ponto-a-ponto-multi-plataforma-integra-produtos-fluxo-ilimitado-multi-canal-suporte-networking-webizacao-processos-trabalho-colaborativo-e-formacao">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Missão                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/filosofia-de-trabalho-investimentos-tecnologia-informacao-negocio-empresa-valores-forca-identidade-compromisso-principios-confianca-experiencia-simplicidade-transparencia-inovacao-orientacao-para-o-cliente-espirito-de-equipa-clientes-mercado">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Filosofia                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/equipa-profissionais-jovem-dinamica-qualificada-negocios-consultoria-design-programacao-conteudos-comunicacao-marketing-imagem-som-movimento-cor-alegria-comercial-desenvolvimento-seo-apoio-ao-cliente-contabilidade">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Equipa                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/protocolo-socios-portimonense-sporting-clube-aquisicao-de-servicos-construcao-websites-desconto-apresentacao-cartao-quotas-em-dia">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Protocolo                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/parceiros-rede-foco-know-how-criar-desenvolver-implementar-solucoes-clientes-empresa-oportunidade-web-tecnologia-certificacao-parceiros-formacao-capacitacao-negocio-competitiva">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Parceiros                                                                                    </div>
</div>
</a>

</li>
                                                    </ul>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/produtos-fastsms-crm-gestao-documental-comercio-b2c-b2b-integrated-erp-allinone-crm">
<h3 class="foot-title">Produtos</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/fastsms-solucoes-mensagens-segura-confiavel-instantaneamente-envio-end-to-end-todo-mundo-browser-cms-one-to-one-many-negocios-automatizar-agendamento-alertas-sistema-poupanca-comodidade-hipersegmentacao-rapidez-personalizacao-adaptabilidade">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    FastSMS                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/crm-customer-relationship-management-gestao-relacionamento-com-cliente-ferramentas-contato-corporativa-inter-ralacionamento-empresa-necessidades-planeamento-marketing-qualidade-ecrm-portal-ecommerce-relacionamento-comunicacao-negocio">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    CRM                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/gestao-documental-documento-electronico-texto-imagem-video-gestao-utilizadores-empresariais-empresa-desepenho-interface-web-multi-formato-armezenamento-word-excel-powerpoint-pdf-classificacao-versionamento-pesquisa-base-dados-tempo-fluxos">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Gestão Documental                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/comercio-electronico-b2c-e-b2b-transaccoes-bens-servicos-empresa-organizacao-crm-erp-on-line-meios-pagamento-gateways-comunicacao-e-commerce-business-to-consumer-business-comercial-electronicos-solucoes-multibanco-visa-mastercard-paypal">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Comércio B2C & B2B                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/integrated-automatizacao-rentabilizacao-recursos-optimizacao-gestao-empresa-eficiencia-integracao-clientes-mercado-destinatarios-sincronizar-erp-plataforma-web-seguranca-licenciamento-base-dados-ftp-smtp-agendamentos-loja-on-line">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Integrated-ERP                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/allinone-plataforma-contactos-marketing-digital-campanha-sms-newsletters-dispositivo-movel-envio-base-de-dados-multi-canal-grupos-campanhas-agendamento-simultaneo-relatorios-white-label-marketing-mobile-corporate-agencias">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    Allinone - CRM                                                                                    </div>
</div>
</a>

</li>
                                                    </ul>
</div>


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/servicos-design-e-imagem-web-design-criacao-conteudos-desenvolvimento-comercio-on-line-seo-optimizacao-web-marketing-registo-de-dominios-alojamento">
<h3 class="foot-title">Serviços</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/design-e-imagem-a-medida-solucoes-web-resultados-mais-valias-organizacoes-desenvolver-ideias-grafico-original-marcar-a-diferenca-boa-impressao-ilustracao-marcas-conceitos-valor-clientes">
Design e Imagem
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/web-design-criatividade-originalidade-presenca-on-line-empresa-sites-personalizados-imagem-primeiro-contacto-visual">
Web Design
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/criacao-conteudos-tecnologia-informacao-ti-desenvolvimento-sistemas-web-equipa-qualificada-negocios-consultoria-design-programacao-conteudos-comunicacao-marketing-servicos-acessibilidade-usabilidade-navegabilidade-criatividade">
Criação - Conteúdos
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/desenvolvimento-programadores-criatividade-design-mercado-erp-integrado-integrado-software-personalizacao-funcionalidades-extras-integracao-de-sistemas-aproveitamento-tecnologico-vantagens-competitivas-crescimento-negocio-qualidade">
Desenvolvimento
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/comercio-online-area-negocio-empresas-microempresas-businessbiz-mercado-lojas-online-comerciantes-carrinho-compras-catalogo-produtos-imagens-destaque-promocoes-taxas-relatorios-analytics-publicidade-quantidades-backups-pagamento-entrega">
Comércio On-line
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/optimizacao-seo-resultados-motores-de-busca-search-engine-optimization-sites-mob-buscas-ferramentas-melhor-posicionamento-directorios-google-maps-analytics-ad-words-facebook-redes-sociais-key-words-pesquisa-metatags-links">
SEO - Optimização
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/marketing-web-optimizacao-motores-de-busca-seo-search-engine-optimization-site-visibilidade-publicidade-links-com-keywords-titulo-pagina-meta-keywords-description-palavras-chave-analytics-blogs-corporativos-redes-sociais">
web marketing
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/dominios-registo-servico-alojamento-fccn-fundacao-para-a-computacao-cientifica-nacional-em-24h-manutencao-renovacao-imagem-direitos-de-assistencia-necessidades-solucao">
Registo de Domínios
</a>
</li>


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/alojamento-servicos-criacao-de-sites-tecnologia-software-actualizacoes-automaticas-qualidade-profissional-alojadas-servidor-manutencao-competencia-tecnica-suporte-controlo-spam-antivirus">
Alojamento
</a>
</li>


</ul>
</div>
</div>

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://www.intouchbiz.com/pt/gamas-microbiz-firstbiz-businessbiz-posnet-showroom-lodging">
<h3 class="foot-title">Gamas</h3>
</a>
<ul class="list-group list-footer">


<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/microbiz-criacao-site-ideia-de-negocio-mundo-virtual-plataforma-programacao-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
     <svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<path class="st0" d="M44.3,1v28.2H16.1V1H44.3 M45.3,0H15.1v30.2h30.2V0L45.3,0z"/>
<path class="st0" d="M29.2,16.1v28.2H1V16.1H29.2 M30.2,15.1H0v30.2h30.2V15.1L30.2,15.1z"/>
</g>
</svg>                                                                                    </div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footerGamasTitle">
    MICROBIZ                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/firstbiz-ideias-espaco-criacao-site-ideia-de-negocio-plataforma-programacao-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
     <svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<path class="st0" d="M14.8,2l13,22.6H1.7L14.8,2 M14.8,0L0,25.6h29.5L14.8,0L14.8,0z"/>
<path class="st0" d="M29.5,2l13,22.6H16.5L29.5,2 M29.5,0L14.8,25.6h29.5L29.5,0L29.5,0z"/>
<path class="st0" d="M14.8,2l13,22.6H1.7L14.8,2 M14.8,0L0,25.6h29.5L14.8,0L14.8,0z"/>
<path class="st0" d="M29.5,2l13,22.6H16.5L29.5,2 M29.5,0L14.8,25.6h29.5L29.5,0L29.5,0z"/>
</g>
</svg>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footerGamasTitle">
    FIRSTBIZ                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/businessbiz-negocio-customizada-criacao-de-site-ideia-plataforma-programacao-single-page-design-responsive-animacao-varios-idiomas-puv-design-a-medida-seo-optimizacao-nos-ligamos-pageland-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
     <svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<g>
<path class="st0" d="M31,14.7c7,0,12.8,5.7,12.8,12.8c0,7-5.7,12.8-12.8,12.8c-7,0-12.7-5.7-12.7-12.8C18.3,20.5,24,14.7,31,14.7
M31,13.7c-7.6,0-13.7,6.2-13.7,13.8c0,7.6,6.2,13.8,13.7,13.8c7.6,0,13.8-6.2,13.8-13.8C44.8,19.9,38.6,13.7,31,13.7L31,13.7z"/>
<path class="st0" d="M13.8,14.7c7,0,12.7,5.7,12.7,12.8c0,7-5.7,12.8-12.7,12.8C6.7,40.2,1,34.5,1,27.5C1,20.5,6.7,14.7,13.8,14.7
M13.8,13.7C6.2,13.7,0,19.9,0,27.5c0,7.6,6.2,13.8,13.8,13.8c7.6,0,13.7-6.2,13.7-13.8C27.5,19.9,21.3,13.7,13.8,13.7L13.8,13.7z
"/>
</g>
<path class="st0" d="M22.4,1c7,0,12.7,5.7,12.7,12.7c0,7-5.7,12.8-12.7,12.8c-7,0-12.8-5.7-12.8-12.8C9.6,6.7,15.3,1,22.4,1
M22.4,0C14.8,0,8.6,6.2,8.6,13.7c0,7.6,6.2,13.8,13.8,13.8c7.6,0,13.7-6.2,13.7-13.8C36.1,6.2,30,0,22.4,0L22.4,0z"/>
</g>
</svg>                                                                                    </div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footerGamasTitle">
    BUSINESSBIZ                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/posnet-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor-produtos-analises-marketing-promocoes-integrated-metodos-pagamento-backffice-cliente">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
     <svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="50">
<g class="svgClass" stroke-width="1" fill="none">
<path class="st0" d="M11.8,13.4l10.8,6.2v12.5l-10.8,6.2L1,32.1V19.6L11.8,13.4 M11.8,12.2L0,19v13.6l11.8,6.8l11.8-6.8V19
L11.8,12.2L11.8,12.2z"/>
<path class="st0" d="M11.8,1.2l10.8,6.2v12.5l-10.8,6.2L1,19.8V7.4L11.8,1.2 M11.8,0L0,6.8v13.6l11.8,6.8l11.8-6.8V6.8L11.8,0
L11.8,0z"/>
</g>
</svg>                                                                                    </div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footerGamasTitle">
    POS NET                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/showroom-catalogo-informacoes-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-captacao-leads-cms-home-made-monitorizacao-ao-servidor-produtos-analises-marketing-promocoes-integrated-backffice-cliente">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="70">
<g class="svgClass" stroke-width="1" fill="none">
<circle class="st0" cx="24.1" cy="24.1" r="23.6"/>
<circle class="st0" cx="24.1" cy="24.1" r="23.6"/>
<circle class="st0" cx="47.6" cy="24.1" r="23.6"/>
</g>
</svg>                                                                                    </div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footerGamasTitle">
    SHOWROOM                                                                                    </div>
</div>
</a>

</li>

<li class="list-group-item">

<a href="http://www.intouchbiz.com/pt/lodging-alojamento-integracao-booking-viajantes-dormir-casa-quarto-tempo-real-reservas-online-gestao-canais-propriedade-single-page-design-responsive-animacao-varios-idiomas-seo-optimizacao-nos-ligamos-leads-cms-home-made-monitorizacao-ao-servidor">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <svg style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="175" height="70">
<g class="svgClass" stroke-width="1" fill="none">
<polygon class="st0" points="25.4,0.6 50.1,18.6 40.7,47.7 10.1,47.7 0.6,18.6    "/>
<polygon class="st0" points="49.8,0.6 74.6,18.6 65.1,47.7 34.5,47.7 25,18.6     "/>
</g>
</svg>                                                                                    </div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footerGamasTitle">
    LODGING                                                                                    </div>
</div>
</a>

</li>
                                                    </ul>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://integrated-erp.com/" target="_blank">
<h3 class="foot-title">Integrated-ERP</h3>
</a>
<ul class="list-group list-footer">
<li class="list-group-item"><a href="http://www.integrated-erp.com/" target="_blank"><!-- Plataformas --> Funcionalidades</a></li>
<li class="list-group-item"><a href="http://www.integrated-erp.com/pt/solucao-caracteristicas" target="_blank"><!-- Software -->Características</a></li>
<li class="list-group-item"><a href="http://www.integrated-erp.com/pt/solucao-erps" target="_blank"><!-- faq's --> ERPs</a></li>
<li class="list-group-item"><a href="http://www.integrated-erp.com/pt/portfolio" target="_blank"><!-- Portfólio -->Portfólio</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<a href="http://enjoybesmart.com/" target="_blank">
<h3 class="foot-title">EnjoybeSmart CRM</h3>
</a>
<ul class="list-group list-footer">
<li class="list-group-item"><a href="http://enjoybesmart.com/" target="_blank"><!-- funcionalidades --> Funcionalidades</a></li>
<li class="list-group-item"><a href="http://enjoybesmart.com/vantagens/" target="_blank"><!-- vantagens --> Vantagens</a></li>
<li class="list-group-item"><a href="http://enjoybesmart.com/solucoes/" target="_blank"><!-- soluções --> Soluções</a></li>
<li class="list-group-item"><a href="http://enjoybesmart.com/contacto/" target="_blank"><!-- faq -->Contacto</a></li>
<li class="list-group-item"><a href="http://enjoybesmart.com/pricing/" target="_blank"><!-- preçário --> Preçário</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
{% endblock %}