{% extends "base.html.twig" %}
{% block content %}

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    
                        <!-- CART BUTTON AND LANG -->
                        <ul id="cart-list" class="borderBottomHeader">
                            <li data-toggle="modal" data-target="#myModal" id="myfkingmodal" class="hidden-xs">
                                
                                <div class="social-flag">
                                    <img src="http://www.intouchbiz.com/template/menu.png" class="cursorPointer logoMenu" alt="Intouchbiz">
                                    <img src="http://www.intouchbiz.com/template/menuBlack.png" class="cursorPointer logoMenuScroll" alt="Intouchbiz">
                                </div>
                                
                            </li>
                                                                <li>
                                        <a href="https://www.facebook.com/connectedintouchbiz/" target="_blank">
                                            <div class="social-flag">
                                                <img src="http://www.intouchbiz.com/admin/template/socialmedia/rectangular/facebook.png" alt="facebook" id="facebook">
                                            </div>
                                        </a>
                                    </li>
                                                                <li>
                                        <a href="https://twitter.com/IntouchBiz_" target="_blank">
                                            <div class="social-flag">
                                                <img src="http://www.intouchbiz.com/admin/template/socialmedia/rectangular/twitter.png" alt="twitter" id="twitter">
                                            </div>
                                        </a>
                                    </li>
                                                                <li>
                                        <a href="https://plus.google.com/u/0/111192249106908035114" target="_blank">
                                            <div class="social-flag">
                                                <img src="http://www.intouchbiz.com/admin/template/socialmedia/rectangular/googleplus.png" alt="googleplus" id="googleplus">
                                            </div>
                                        </a>
                                    </li>
                                                    </ul>
                    
                    </div>
                    
                </div>
            </div>

        </header><!--/header-->


<div class="container"  >

    
</div>
<div class="container-fluid">
    
    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- SLIDER  -->
                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- <ol class="carousel-indicators"></ol> -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                                            
                        <div class="homepage-hero-module imgSlider">
                            <div class="video-container">
                               <div class="filter"></div>
                               
                               <div style="position:absolute; width:100%; height:100%;z-index:9"></div>    
                                <video autoplay loop class="fillWidth">
                                    <source alt="agências
" src="http://www.intouchbiz.com/template/" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                                    <source alt="agências
" src="http://www.intouchbiz.com/template/" type="video/m4v" />Your browser does not support the video tag. I suggest you upgrade your browser.
                                    <source alt="agências
" src="http://www.intouchbiz.com/template/" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                                    <source alt="agências
" src="http://www.intouchbiz.com/template/" type="video/ogg" />Your browser does not support the video tag. I suggest you upgrade your browser.
                                    <source alt="agências
" src="http://www.intouchbiz.com/template/" type="video/ogv" />Your browser does not support the video tag. I suggest you upgrade your browser.
                                </video>
                                <div class="poster ">
                                    <img class="imgSlider" style="height=100% !important" src="http://www.intouchbiz.com/admin/img/slider/slidecontact.jpg" alt="agências
">
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="carousel-caption container">
                        <h1 class="title-slider">Estamos a sua disposição<br> <span class="textUnderlineBigSize">Contacte-nos</span></h1>
                        <hr class="textUnderline ">
                        <h2 class="desc-slider"><p></p></h2>
                        <a class="page-scroll" href="#firstSection"><img src="http://www.intouchbiz.com/template/setaBottom.png" class="setaBottom" alt="agências
"></a>
                        </div>
                        <div id="firstSection">
                        </div>
                        </div>                    </div>

                    <!-- Controls -->
                    <!-- <a class="left carousel-control hidden-xs" href="#carousel-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control hidden-xs" href="#carousel-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>--> 
                </div>
            </div>
            <!--Image parallax Home Page-->
        </div>
    
        <div class="row">
            
            <section>
            </section>
            
            <section>
                
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                     
                        <ul class="list-contact">
                            <li class="contact-title">Contactos</li>
                            <li><a href="mailto:&#105;&#110;&#102;&#111;&#64;&#105;&#110;&#116;&#111;&#117;&#99;&#104;&#98;&#105;&#122;&#46;&#99;&#111;&#109;" target="_top">&#105;&#110;&#102;&#111;&#64;&#105;&#110;&#116;&#111;&#117;&#99;&#104;&#98;&#105;&#122;&#46;&#99;&#111;&#109;</a> | +351 282 353 994</li>
                            <li>Rua Município S. Domingos Lote 2 </li>
                            <li>8400 - 415 Lagoa | Algarve | Portugal</li>
                        </ul>
                   
                  <section>  
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gmap">
                                <div id="mapa" class="googleMap"><div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=RUA%20MUNIC%C3%8DPIO%20S.%20DOMINGOS%20LOTE%202%208400%20-%20415%20LAGOA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
                            </div>
                        </div>
                    </div>
                    </section>
                    <!-- GOOGLE MAPS -->
                   
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="contact-title">Contacte-nos</h3>
                                <div class="row">
                                    <form role="form" action="" method="POST" id="form-contact">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <!-- Form-->
                                            <div class="form-group">
                                                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome">
                                                <span class="error" id="invalid_nome">*</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="telefone" class="form-control telefone" id="telefone" placeholder="Contacto">
                                                <span class="error" id="invalid_telefone">*</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                                                <span class="error" id="invalid_email">*</span>
                                                <span class="error" id="invalid_email_sintaxe2">**</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="assunto" class="form-control" id="assunto" placeholder="Assunto">
                                                <span class="error" id="invalid_assunto">*</span>
                                            </div>
                                            <div class="form-group">
                                                <textarea type="text" name="mensagem" class="form-control input-msg" id="mensagem" placeholder="Mensagem" maxlength="755"></textarea>
                                                <span class="error" id="invalid_mensagem">*</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <p class="checkboxTitle paragrafForm">Aceito os Termos de Privacidade</p> <input type="checkbox" value="true" name="checkbox" id="checkbox">
                                                    <span class="error" id="invalid_checkbox">*</span>
                                                </label>
                                            </div>
                                            <p class="checkboxSubTitle paragrafForm" style="padding:20px">Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível. A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para a Intouchbiz. Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o facebook serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
                                            <div class="checkbox">
                                                <label>
                                                    <span class="error" id="invalid_geral">* Preenchimento obrigatório</span>
                                                    <br>
                                                    <span class="error" id="invalid_email_sintaxe">**Sintaxe email inválida</span>
                                                </label>
                                            </div>
                                            <button name="submit" id="btn-cont" class="btn-marg botaoEnviar hvr-sweep-to-left">Enviar</button>
                                            <input type="hidden" name="subFormContact" value="true">
                                            <input type="hidden" name="antibot" value="">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    
                    
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                </div>
              
            </section> 
            
        </div>
        
</div>



</div>

</div>

</div>

</div>
</div>
</div>

{% endblock %}
                                    
